footer {
    width: 100%;
    height: 60px;
    background-color: #D4C9B6;
    line-height: 50px;
    margin-top: 30px;
}
footer p {
    font-size: clamp(10px, 3vw, 24px);
    text-align: center;
    color: #fff;
}