/* pc */
@media(min-width: 1100px) {
    .ghimg2 {
        margin: 0 auto;
        max-width: 1600px;
        height: auto;
        margin-top: 140px;
        display: flex;
        justify-content: space-between;
    }
    .ghimg2_a {
        width: 925px;
        height: 936px;
    }
    .ghimg2_a img {
        width: 100%;
    }
    .ghimg2_a img:hover {
        opacity: 0.6;
    }
    
    .ghimg2_b {
        width: 655px;
        height: 936px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .ghimg2_b img {
        width: 100%;
    }
}

/* 태블릿*/
@media (min-width: 600px) and (max-width: 1100px) {
    .ghimg2 {
        margin: 0 auto;
        width: 98%;
        height: auto;
        margin-top: 140px;
        display: flex;
        justify-content: space-between;
    }
    .ghimg2_a {
        width: 58%;
        height: auto;
    }
    .ghimg2_a img {
        width: 100%;
    }
    .ghimg2_a img:hover {
        opacity: 0.6;
    }
    
    .ghimg2_b {
        width: 41%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .ghimg2_b img {
        width: 100%;
    }
}


