.ghtext {
    margin: 0 auto;
    width: 1600px;
    height: 740px;
    /* background-color: aliceblue; */
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 130px;
}
.ghtext1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ghtext .ghtext1 .bf1{
    width: 780px;
    height: 120px;
    object-fit: cover;
}

.ghtext2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ghtext .ghtext2 .bf2{
    width: 480px;
    height: 120px;
    object-fit: cover;
}

.ghtext3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ghtext .ghtext3 .bf3{
    width: 950px;
    height: 120px;
    object-fit: cover;
}

.ghtext4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ghtext .ghtext4 .bf4{
    width: 560px;
    height: 120px;
    object-fit: cover;
}



.ghtext h2 {
    font-family: 'Cafe24ClassicType-Regular' !important;
}




