/* pc */
@media(min-width: 1100px) {
  .ghtext {
    margin: 0 auto;
    max-width: 1600px;
    height: auto;
    font-size: clamp(8px, 2vw, 32px);
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 130px;
}
.ghtext1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #A3B470;
}
.ghtext .ghtext1 .bf1{
    width: 50%;
    height: auto;
    object-fit: cover;
}

.ghtext2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #C2D391;
    margin-top: 60px;
}
.ghtext .ghtext2 .bf2{
    width: 30%;
    height: auto;
    object-fit: cover;
}

.ghtext3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #8f8676;
    margin-top: 60px;
}
.ghtext .ghtext3 .bf3{
    width: 60%;
    height: auto;
    object-fit: cover;
}

.ghtext4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #9A9283;
    margin-top: 60px;
}
.ghtext .ghtext4 .bf4{
    width: 36%;
    height: auto;
    object-fit: cover;
}

.ghtext h2 {
    font-family: 'Cafe24ClassicType-Regular' !important;
}

.fade-in-text {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
  }
  
  .fade-in-text.active {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* 딜레이 순차 지정 */
  .delay1 {
    transition-delay: 0.1s;
  }
  .delay2 {
    transition-delay: 0.2s;
  }
  .delay3 {
    transition-delay: 0.3s;
  }
  .delay4 {
    transition-delay: 0.4s;
  }
}

/* 태블릿 */
@media(min-width: 600px) and (max-width: 1100px){
    .ghtext {
      margin: 0 auto;
      max-width: 98%;
      height: auto;
      font-size: clamp(8px, 2vw, 24px);
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 130px;
  }
  .ghtext1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #A3B470;
  }
  .ghtext .ghtext1 .bf1{
      width: 50%;
      height: auto;
      object-fit: cover;
  }
  
  .ghtext2 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #C2D391;
      margin-top: 60px;
  }
  .ghtext .ghtext2 .bf2{
      width: 30%;
      height: auto;
      object-fit: cover;
  }
  
  .ghtext3 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #8f8676;
      margin-top: 60px;
  }
  .ghtext .ghtext3 .bf3{
      width: 60%;
      height: auto;
      object-fit: cover;
  }
  
  .ghtext4 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #9A9283;
      margin-top: 60px;
  }
  .ghtext .ghtext4 .bf4{
      width: 36%;
      height: auto;
      object-fit: cover;
  }
  
  .ghtext h2 {
      font-family: 'Cafe24ClassicType-Regular' !important;
  }
  
  .fade-in-text {
      opacity: 0;
      transform: translateY(20px);
      transition: all 1s ease;
    }
    
    .fade-in-text.active {
      opacity: 1;
      transform: translateY(0);
    }
    
    /* 딜레이 순차 지정 */
    .delay1 {
      transition-delay: 0.1s;
    }
    .delay2 {
      transition-delay: 0.2s;
    }
    .delay3 {
      transition-delay: 0.3s;
    }
    .delay4 {
      transition-delay: 0.4s;
    }
  }

