/* pc */
@media(min-width: 1100px) {
    .ghimg{
        margin: 0 auto;
        max-width: 1600px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 130px;
        padding: 0 20px
    }
    
    .ghimg_y {
        display: flex;
    }
    
    .ghimg_y .house {
        width: 655px;
        height: auto;
        margin-right: 20px;
    }
    .ghimg_y .house img {
        width: 100%;
        height: 100%;
    }
    .ghimg_y .feild {
        width: 925px;
        height: auto;
        object-fit: cover;
        display: flex;
        flex-direction: column;
    }
    .ghimg_y .feild img {
        width: 100%;
        height: 100%;
    }
    .ghimg_y .feild img:nth-of-type(1) {
        margin-bottom: 20px;
    }
    
    .ghimg_x {
        display: flex;
        margin-top: 20px;
    }
    .ghimg_x .b1 {
        width: 790px;
        height: auto;
        object-fit: cover;
    }
    .ghimg_x .b1 img {
        width: 100%;
        height: 100%;
    }
    .ghimg_x .b2 {
        width: 790px;
        height: auto;
        object-fit: cover;
        margin-left: 20px;
    }
    .ghimg_x .b2 img {
        width: 100%;
        height: 100%;
    }

    .fade-in-text {
        opacity: 0;
        transform: translateY(20px);
        transition: all 1s ease;
      }
      
      .fade-in-text.active {
        opacity: 1;
        transform: translateY(0);
      }
      
      .delay-h {
        transition-delay: 0.2s;
      }
      .delay-fe {
        transition-delay: 0.4s;
      }
      .delay-fl {
        transition-delay: 0.6s;
      }
}

/* 태블릿 */
@media(min-width: 600px) and (max-width: 1100px) {
    .ghimg{
        margin: 0 auto;
        max-width: 96%;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 130px;
    }
    
    .ghimg_y {
        display: flex;
    }
    
    .ghimg_y .house {
        width: 655px;
        height: auto;
        margin-right: 20px;
    }
    .ghimg_y .house img {
        width: 100%;
        height: 100%;
    }
    .ghimg_y .feild {
        width: 925px;
        height: auto;
        object-fit: cover;
        display: flex;
        flex-direction: column;
    }
    .ghimg_y .feild img {
        width: 100%;
        height: 100%;
    }
    .ghimg_y .feild img:nth-of-type(1) {
        margin-bottom: 20px;
    }
    
    .ghimg_x {
        display: flex;
        margin-top: 20px;
    }
    .ghimg_x .b1 {
        width: 790px;
        height: auto;
        object-fit: cover;
    }
    .ghimg_x .b1 img {
        width: 100%;
        height: 100%;
    }
    .ghimg_x .b2 {
        width: 790px;
        height: auto;
        object-fit: cover;
        margin-left: 20px;
    }
    .ghimg_x .b2 img {
        width: 100%;
        height: 100%;
    }
        
    .fade-in-text {
        opacity: 0;
        transform: translateY(20px);
        transition: all 1s ease;
      }
      
      .fade-in-text.active {
        opacity: 1;
        transform: translateY(0);
      }
      
      /* 딜레이 */
      .delay-h {
        transition-delay: 0.2s;
      }
      .delay-fe {
        transition-delay: 0.4s;
      }
      .delay-fl {
        transition-delay: 0.6s;
      }
}

/* 모바일*/
@media(max-width: 800px) {
    .ghimg{
        margin: 0 auto;
        max-width: 98%;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }
    
    .ghimg_y {
        display: flex;
        flex-direction: column;
    }
    
    .ghimg_y .house {
        width: 100%;
        height: auto;
        margin-bottom: 6px;
    }
    .ghimg_y .house img {
        width: 100%;
        height: 100%;
    }
    .ghimg_y .feild {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: flex;
        flex-direction: column;
    }
    .ghimg_y .feild img {
        width: 100%;
        height: 100%;
    }
    .ghimg_y .feild img:nth-of-type(1) {
        margin-bottom: 10px;
    }
    
    .ghimg_x {
        display: flex;
        margin-top: 10px;
    }
    .ghimg_x .b1 {
        width: 790px;
        height: auto;
        object-fit: cover;
    }
    .ghimg_x .b1 img {
        width: 100%;
        height: 100%;
    }
    .ghimg_x .b2 {
        width: 790px;
        height: auto;
        object-fit: cover;
        margin-left: 10px;
    }
    .ghimg_x .b2 img {
        width: 100%;
        height: 100%;
    }
        
    .fade-in-text {
        opacity: 0;
        transform: translateY(20px);
        transition: all 1s ease;
      }
      
      .fade-in-text.active {
        opacity: 1;
        transform: translateY(0);
      }
      
      /* 딜레이 */
      .delay-h {
        transition-delay: 0.2s;
      }
      .delay-fe {
        transition-delay: 0.4s;
      }
      .delay-fl {
        transition-delay: 0.6s;
      }
}