.marine {
    max-width: 1640px;
    height: 1180px;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 130px;
    /* background-color: pink; */
}

.marine_img {
    display: flex;
    justify-content: space-between;
}
.marine_img .mrs1 {
    width: 920px;
    height: auto;
    object-fit: cover;
    
}
.marine_img .mrs2 {
    width: 655px;
    height: auto;
    object-fit: cover;
}

.marine h1 {
    font-size: clamp(30px, 6vw, 90px);
    font-family: 'Cafe24ClassicType-Regular';
    text-align: center;
    margin-top: 20px;
}
.marine p {
    font-size: clamp(10px, 3vw, 30px);
    line-height: 1.4;
    text-align: center;
}