.note {
    max-width: 1640px;
    height: 2800px;
    padding: 0 20px;
    margin: 0 auto;
    background-color: lightgreen;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 이미지 사이즈 1060 790 */
.top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.topimg {
    width: 1060px;
    height: 790px;
}
.top img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.middle {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.middleimg {
    width: 1060px;
    height: 790px;
}
.middle img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.base {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.baseimg {
    width: 1060px;
    height: 790px;
}
.base img {
    width: 100%;
    height: auto;
    object-fit: cover;
}